@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "primevue/resources/primevue.min.css";
@import "primeicons/primeicons.css";
@import "./prime-theme.css";

:root {
  --color-brand: #e88232;
  --color-brand-text: #fff;
  --color-primary: #222030;
  --color-page: #ffffff;
  --color-shade: #eeeeee;
  --color-text-shade: #adadad;
  --font-main: 'Ombudsman Stencil';
  --font-secondary: 'Inter', sans-serif;
  --spacing-small: 8px;
  --spacing-standard: 16px;
  --spacing-large: 32px;
}


@font-face {
  font-family: "Ombudsman Stencil";
  src: url(./fonts/OmbudsmanStencil.ttf) format('ttf');
}

body {
  margin: 0;
}

/* the symbol * doesn't perform well */
* {
  box-sizing: border-box;
}

h1,h2 {
  font-weight: normal;
}
h1 {
  font-family: var(--font-main);
  font-size: 70px;
}

h2 {
  font-family: var(--font-main);
  font-size: 55px;
}

h3 {
  font-family: var(--font-secondary);
  font-size: 36px;
  font-weight: 600;
}

h4{
  font-family: var(--font-secondary);
  font-size: 22px;
  font-weight: 600;
}

p{
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 400;
}

