/* ---------------- */
.p-inputtext {
  font-family: var(--font-secondary);
}

.p-dropdown-panel {
  font-family: var(--font-secondary);
}

.p-dropdown:not(.p-disabled).p-focus,
.p-inputtext:enabled:focus,
.p-button:focus {
  box-shadow: 0 0 0 0.2rem var(--color-brand-hover);
  border-color: transparent;
}

.p-chip {
  background-color: var(--color-primary);
  color: var(--color-primary-text);
  border-radius: var(--border-radius-standard);
  padding: 0 var(--spacing-small);
  line-height: 1;
  font-family: var(--font-secondary);
  font-size: 0.8rem;
  text-transform: capitalize;
}

.p-button {
  background-color: var(--color-brand);
  color: var(--color-brand-text);
  border-color: var(--color-brand);
  font-family: var(--font-secondary);
  font-weight: 600;

  &:enabled:hover {
    background-color: var(--color-brand-hover);
    border-color: var(--color-brand-hover);
    color: var(--color-brand-hover-text);
  }

  &.p-button-secondary {
    &.p-button-outlined {
      background-color: var(--color-page);
      border-color: var(--color-primary);
      color: var(--color-primary);
      border-width: 2px;
      &:enabled:hover {
        border-width: 2px;
        background-color: var(--color-primary);
        border-color: var(--color-primary);
        color: var(--color-primary-text);
      }
    }
  }
}
.p-badge-dot {
  width: 0.5rem;
  min-width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  padding: 0;
}

.gap-1 {
  gap: var(--spacing-small);
}
.gap-2 {
  gap: var(--spacing-standard);
}
.gap-3 {
  gap: var(--spacing-large);
}

.p-carousel {
  .p-carousel-indicators {
    .p-carousel-indicator {
      button {
        background-color: var(--color-text-shade);
      }
      &.p-highlight {
        button {
          background-color: var(--color-brand);
        }
      }
    }
  }
}

.p-carousel .p-carousel-content .p-carousel-prev:focus,
.p-carousel .p-carousel-content .p-carousel-next:focus {
  box-shadow: 0 0 0 0.2rem var(--color-brand-hover);
}

.p-link:focus {
  box-shadow: 0 0 0 0.2rem var(--color-brand-hover);
}
